* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    background-color: rgb(60, 60, 60);
}

@font-face {
    font-family: 'redaction';
    src: url(Redaction35-Bold.otf);
}

.screen {
    height: 100vh;
    width: 100vw;
}

.text {
    color: rgb(170, 255, 0);
    font-family: 'redaction';
    font-size: 80px;

    animation: blink 1s infinite linear;
}

@keyframes blink {
    50% {
        color:rgb(60, 60, 60); ;
    }
}



.text-box {
    position: relative;
    text-align: center;
    vertical-align: middle;
}

